<h1>All</h1>


<p>
	<strong>Tasks:</strong><br>
	<% @all_tasks = CSV.read("tasks.csv") %>
	<% @count = 0 %>
	<% while @count < @all_tasks.size do %>
		<%= @count + 1 %>.
		<%= @all_tasks[@count] %>
		<% @count += 1 %>
		<br>
	<% end %>
</p>

<p>
	<a href="/">Home</a>
	<br>
	<a href="/all">All</a>
	<br>
	<a href="/new">New</a>
	<br>
	<a href="/complete">Complete</a>
</p>