<h1>Input</h1>
<br>

<p>
	<strong>Complete Task #</strong>
	<form action="/complete" method="post">
		<input type="number" name="complete">
		<input type="submit">
	</form>
</p>
<br>

<p>
	<strong>Current Tasks:</strong>
	<p>	
		<ol>
			<% @render_tasks.each do |task| %>
				<li><%= task %></li>
			<% end %>
		</ol>
	</p>
</p>

<br>
<p>
	<a href="/">Home</a>
	<br>
	<a href="/all">All</a>
	<br>
	<a href="/new">New</a>
	<br>
	<a href="/complete">Complete</a>
</p>