<h1>Input</h1>
<br>

<p>
	<strong>New Task</strong>
	<form action="/new" method="post">
		<input type="text" name="new_task">
		<input type="submit">
	</form>
</p>
<p>
	<strong>Current Tasks:</strong>
	<ol>
		<% @render_tasks.each do |task| %>
			<li><%= task %></li>
		<% end %>
	</ol>
</p>
<p>
	<a href="/">Home</a>
	<br>
	<a href="/all">All</a>
	<br>
	<a href="/new">New</a>
	<br>
	<a href="/complete">Complete</a>
</p>