<h1>Output</h1>

<strong>New Task: </strong>
<%= @new_task = params[:new_task] %>

<p>
	<strong>Current Tasks:</strong>
	<ol>
		<% @render_tasks.each do |task| %>
			<li><%= task %></li>
		<% end %>
	</ol>
</p>

<p>
	<a href="/">Home</a>
	<br>
	<a href="/all">All</a>
	<br>
	<a href="/new">New</a>
	<br>
	<a href="/complete">Complete</a>
</p>